{% extends 'UserBundle:Admin:admin.html.twig' %}
{% block body %}

    <h3 class="h3">Gestion des fournisseurs</h3>
    <div>
        <a href="createSupplier" class="btn btn-success actionButton">Ajouter un fournisseur</a>
    </div>
    <br><br>
        <table class="table table-hover modifTable" >
            <thead>
                <tr>
                    <th>Nom du fournisseur</th>
                    <th>Image associée</th>
                    <th>Action</th>
                 </tr>
            </thead>
            <tbody>
                {% for fourns in fournisseurs %}
                    <tr>
                        <td>
                            {{ fournisseurs[ loop.index0 ].nom }}
                        </td>
                        <td>
                            <img src="{{ asset(fournisseurs[ loop.index0 ].urlimage) }}">
                        </td>
                        <td>
                            <a href="{{ path( 'updateSupplier', {'id' : fournisseurs[ loop.index0 ].id } ) }}" class="btn btn-primary actionButton">Modifier</a><br><br>
                            <a href="{{ path( 'deleteSupplier', {'id' : fournisseurs[ loop.index0 ].id } ) }}" class="btn btn-danger actionButton">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	
{% endblock %}