{% extends 'ProductBundle::layout.html.twig' %}

{% block body %}
   <h3>Les services de soins à domicile effectués :</h3>
   <section>
      {% for Products in categoriesServ %}
         <div class="overall"><img src="{{ asset(categoriesServ[ loop.index0 ].urlimage) }}" class="serviceimg" alt="Image impossible à charger"><form action="{{ path( 'services', {'id' : categoriesServ[ loop.index0 ].id } ) }}"><input type="submit" name="{{categoriesServ[ loop.index0 ].id }} "value="{{categoriesServ[ loop.index0 ].intitule }}" alt="Cliquez pour accéder à la rubrique"></form></div>
      {% endfor %}
   </section>
{% endblock %}