{% extends 'UserBundle::layout_estheticienne.html.twig' %}

{% block title %}
    Accueil Estheticienne
{% endblock %}

{% block body %}
<h1>Interface de L'estheticienne</h1>
<h1>Content to be defined</h1>
{% endblock %}