{% extends 'UserBundle::layout_estheticienne.html.twig' %}

{% block title %}
    Accueil Estheticienne
{% endblock %}

{% block body %}
<h1>Vous êtes sur l'interface de L'estheticienne</h1>
{% endblock %}