<section>
    <h3>Informations utiles</h3>

    <div id="accordion">
	    <h4>Gestion des produits</h4>
    		<div>
			dflfklfkdlfkd	
			</div>
	
		<h4>Gestion des prestations</h4>
			<div>
				ffffffdffdf
			</div>
			

		<h4>Gestion des fournisseurs</h4>
			<div>
				fffdfdfdfdf
			</div>

		<h4>Gestion des catégories</h4>
			<div>
				fdfdffdfdff
			</div>
	</div>

	<hr>
	
	<div>
		
	</div>

</section>