{% extends 'UserBundle::layout_admin.html.twig' %}

{% block title %}
    Accueil Administrateur
{% endblock %}

{% block body %}
<h1>Interface de d'administration :</h1>
<h1>Content to be defined.</h1>
{% endblock %}