{% extends 'UserBundle:Admin:admin.html.twig' %}
{% block body %}

    <h3>Gestion des catégories</h3>
    <div>
        <a href="createCategory" class="btn btn-success actionButton">Ajouter une catégorie</a>
    </div>
    <br><br>
    
        <table class="table table-hover modifTable" >
            <thead>
                <tr>
                    <th>Intitulé de la catégorie</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for categ in categories %}
                    <tr>
                        <td>
                            {{ categories[ loop.index0 ].intitule }}
                        </td>
                        <td>
                            {{ categories[ loop.index0 ].description }}
                        </td>
                        <td>
                                <a href="{{ path( 'updateCategory', {'id' : categories[ loop.index0 ].id } ) }}" class="btn btn-primary actionButton">Modifier</a><br><br>                            
                                <a href="{{ path( 'deleteCategory', {'id' : categories[ loop.index0 ].id } ) }}" class="btn btn-danger actionButton">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}