<section>
    <h3>Informations utiles</h3>
	<p><a href="{{ path( 'whoswho' ) }}">Qui suis-je?</a></p>

	<hr>

	<p>Zone de déplacement :</p>
	<blockquote>
		Rayon de 15 km aux alentours de Follainville
		<br>
		Suivant les secteurs je me déplace pour un montant minimum de 15€.</blockquote>

	<div id="EmplacementDeMaCarte"></div>

	<hr>

	<p>Horaires :</p>
	<blockquote>
		Du lundi au samedi de 8h30 à 20h00.
	</blockquote>

	<hr>

	<p>N'hésitez pas à me contacter pour tout renseignement:</p>
	<blockquote>
	06-11-57-10-10 ou <br><a href="mailto:linstantsoin@free.fr">linstantsoin@free.fr</a>
	</blockquote>

	<hr>
	<div>
	<object type="application/x-shockwave-flash" data="{{ asset('bundles/InstantSoin/Music/dewplayer-playlist.swf') }}" margin="auto" width="250" height="125" id="dewplayer" name="dewplayer">
	<param name="wmode" value="transparent" />
	<param name="movie" value="{{ asset('bundles/InstantSoin/Music/dewplayer-playlist.swf') }}" />
	<param name="flashvars" value="showtime=true&autostart=true&randomplay=true&autoreplay=true&volume=50&xml={{ asset('bundles/InstantSoin/Music/playlist.xml') }}" />
	</object>
	</div>

</section>