{% extends 'ProductBundle::layout.html.twig' %}

{% block body %}
    <h1>Qui suis-je?</h1>
	
	<blockquote>
	Titulaire d'un cap et d'un BP d'esthétique-cosmétique et fort de mes 13 ans d'experience en institut sur Paris et en région parisienne, j'ai décidé de me mettre à domicile pour privilégier votre bien-être et votre confort tout cela sans stress et sans attente.
	</blockquote>
	<blockquote>
	Votre bien-être étant ma priorité, j'ai choisi de travailler avec des produits naturels et certifiés bio de la marque Clairjoie pour la peau mais aussi Shellac pour les ongles. Pour une hygiène parfaite le linge est à usage unique et le matériel est stérilisé et désinfecté après chaque cliente.
	</blockquote>
	<br>
	<blockquote>
	Je vous assure des soins de qualité tout comme en institut de beauté avec des conseils et réponses à vos questions et ne suis présente pour vous rien que pour vous !
	</blockquote>
	<br>
	<blockquote>
	Mon métier est ma passion, alors ne doutez plus et prenez vite rendez-vous soit par téléphone soit par email.
	</blockquote>
	<br>
	<blockquote>
	A  très bientôt, votre esthéticienne, Sandra.
	</blockquote>

	<a target=_blank href="{{ path( 'Lien_Clairjoie' ) }}"><img src="{{ asset('bundles/InstantSoin/Images/Clairjoie.jpg') }}" alt="Impossible dafficher limage"></a>

	<a target=_blank href="{{ path( 'Lien_Cnd_shellac' ) }}"><img src="{{ asset('bundles/InstantSoin/Images/Cnd_shellac.png') }}" alt="Impossible dafficher limage"></a>
{% endblock %}